name: build

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v6
    - name: build
      run: |
        set -x
        sudo apt update
        sudo apt install -y debian-archive-keyring tree
        sudo git clone --branch=v2.2.0 --depth=1 https://github.com/raspberrypi/rpi-image-gen.git /usr/share/rpi-image-gen/
        sudo /usr/share/rpi-image-gen/install_deps.sh
        /usr/share/rpi-image-gen/rpi-image-gen build -S . -c rpi-fog.yaml
        tree -L 3
    - uses: actions/upload-artifact@v4
      with:
        name: deploy
        path: work/deploy-*/
